@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap');

.thisWeekHeadContainer{
    display: flex;
    justify-content: space-between;
}
.thisWeekHead{
    font-weight: 800;
    font-size: 32px;
    color: rgb(34, 34, 34);
    margin-left: 50px;
}
.thisWeekBtnContainer{
    margin-right: 50px;
}
.prev{
    margin-right: 10px;
}
.cardContainer{
   
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: hidden;
  padding: 20px 50px 10px 50px;
  scroll-behavior: smooth;
    
}
.card{
    margin-left: 40px;
}
.mediaBtn{
    width:30px;
    
    border: rgb(210, 209, 209) 1px solid;
    border-radius: 9999px;
    background-color: #fff;
}